/* You can add global styles to this file, and also import other style files */
//@import 'assets/css/theme';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.mat-dialog-container {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  background: lightcyan;
  color: #039be5;
}