.password-recovery-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.password-recovery-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-recovery-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.password-recovery-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

mat-form-field {
  min-width: 300px;
}
