.presentation-container {
  padding: 50px;
}

.presentation-actions-container {
  width: 100%;
  display: flex;
  justify-content: end;

  button {
    margin: 0 8px;
  }
}

.presentation-back-button-container {
  display: flex;
}