.group-details-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
}

.group-details-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.group-details-content {
  height: 100%;
  width: 100%;
}


.group-details-tab-group, .group-details-tab {
  height: 100%;

  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
}