<div class="group-details-container">
    <div class="group-details-header">
        <a *ngIf="isAdministrator || isCreator" [routerLink]="editUrl" mat-raised-button>
            <mat-icon>edit</mat-icon>
            Edit Group
        </a>
    </div>
    <div class="group-details-content">
        <mat-tab-group class="group-details-tab-group">
            <mat-tab class="group-details-tab" label="Assignments">
                <ng-template matTabContent>
                    <hwm-group-assignment-list [groupName]="group.name" [isTeacher]="isTeacher"/>
                </ng-template>
            </mat-tab>
            <mat-tab class="group-details-tab" label="Teachers">
                <ng-template matTabContent>
                    <hwm-teacher-list [groupName]="group.name"/>
                </ng-template>
            </mat-tab>
            <mat-tab class="group-details-tab" label="Students">
                <ng-template matTabContent>
                    <hwm-student-list [groupName]="group.name"/>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>