<mat-toolbar color="accent">
    <button (click)="onToggle()" *ngIf="isMobile" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <h2>{{ course.name }}</h2>
    <span class="spacer"></span>
    <ng-container *ngIf="!isMobile">
        <button (click)="onAddTeachersClick()"
                *ngIf="isAdministrator || isCreator"
                class="course-toolbar-action"
                mat-flat-button>
            <mat-icon>add</mat-icon>
            Add Teachers
        </button>
        <button (click)="onAddStudentsClick()"
                *ngIf="isAdministrator || isCreator"
                class="course-toolbar-action"
                mat-flat-button>
            <mat-icon>add</mat-icon>
            Add Students
        </button>
        <a *ngIf="isAdministrator || isTeacher" [routerLink]="NavigationItems.groupCreate.navigationUrl"
           class="course-toolbar-action"
           mat-flat-button>
            <mat-icon>add</mat-icon>
            Add Group
        </a>
        <a *ngIf="isAdministrator || isCreator"
           [routerLink]="[NavigationItems.courseEdit.navigationUrl, course.courseId]"
           class="course-toolbar-action" mat-flat-button>
            <mat-icon>edit</mat-icon>
            Edit Course
        </a>
    </ng-container>
    <button *ngIf="isMobile && (isAdministrator || isTeacher)" [matMenuTriggerFor]="accountMenu"
            mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
        <button (click)="onAddTeachersClick()" *ngIf="isAdministrator || isCreator"
                mat-menu-item>
            <mat-icon>add</mat-icon>
            Add Teachers
        </button>
        <button (click)="onAddStudentsClick()" *ngIf="isAdministrator || isCreator"
                mat-menu-item>
            <mat-icon>add</mat-icon>
            Add Students
        </button>
        <a *ngIf="isAdministrator || isTeacher" [routerLink]="NavigationItems.groupCreate.navigationUrl"
           mat-menu-item>
            <mat-icon>add</mat-icon>
            Add Group
        </a>
        <a *ngIf="isAdministrator || isCreator"
           [routerLink]="[NavigationItems.courseEdit.navigationUrl, course.courseId]"
           mat-menu-item>
            <mat-icon>edit</mat-icon>
            Edit Course
        </a>
    </mat-menu>
</mat-toolbar>