<hwm-auth-layout>
    <mat-card class="password-reset-card">
        <mat-card-header class="password-reset-header">
            <mat-card-title>Reset Password</mat-card-title>
        </mat-card-header>
        <form [formGroup]="passwordResetForm">
            <mat-card-content class="password-reset-content">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input formControlName="password" id="password" matInput name="password"
                           required
                           type="password">
                    <mat-error [ngSwitch]="passwordError">
                        <span *ngSwitchCase="Errors.Required">
                            Password required
                        </span>
                        <span *ngSwitchCase="Errors.MinLength">
                            Must be at least 6 characters long
                        </span>
                        <span *ngSwitchCase="Errors.ContainsLowerCase">
                            Must contain at least 1 lower case letter
                        </span>
                        <span *ngSwitchCase="Errors.ContainsUpperCase">
                            Must contain at least 1 upper case letter
                        </span>
                        <span *ngSwitchCase="Errors.ContainsDigit">
                            Must contain at least 1 digit
                        </span>
                        <span *ngSwitchDefault>
                            Password required
                        </span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" id="confirmPassword" matInput name="confirmPassword"
                           required
                           type="password">
                    <mat-error [ngSwitch]="confirmPasswordError">
                        <span *ngSwitchCase="Errors.Required">
                            Confirm password required
                        </span>
                        <span *ngSwitchCase="Errors.Equal">
                            Password must be the same
                        </span>
                        <span *ngSwitchDefault>
                            Confirm password required
                        </span>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="password-reset-actions">
                <button (click)="resetPassword()" [disabled]="isLoading" color="primary" mat-raised-button>
                    Reset
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</hwm-auth-layout>

