<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
                 [fixedTopGap]="isMobile? 56 : 64"
                 [mode]="isMobile ? 'over' : 'side'"
                 [opened]="isMobile === false"
                 class="sidenav"
                 fixedInViewport>
        <mat-nav-list>
            <a *ngFor="let navItem of navbarItems" [routerLink]="[navItem.navigationItem.navigationUrl]"
               mat-list-item>
                <div class="nav-menu-item">
                    <mat-icon class="nav-menu-item-icon-container">{{ navItem.icon }}</mat-icon>
                    <div class="nav-menu-item-title">{{ navItem.title }}</div>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content/>
    </mat-sidenav-content>
</mat-sidenav-container>