<div class="student-list-container">
    <hwm-table (optionsSetup)="onOptionsSetup($event)"
               (rowRemove)="onRowRemove($event)"
               [changeDataSource]="changeDataSource$"
               [changeData]="groupName"
               [columnDefs]="columnDefs"
               [dataSource]="students$"
               [pageSizeOptions]="[10, 25]"
               [removableRows]="isAdministrator || isTeacher"
               class="student-list-table">
        <button (click)="onAddClick()"
                *ngIf="isAdministrator || isTeacher"
                [disabled]="groupName === 'General'"
                hwm-table-actions
                mat-flat-button>
            <mat-icon>add</mat-icon>
            Add Student
        </button>
    </hwm-table>
</div>
