<div class="appointment-grid-container">
    <div class="appointment-grid-actions-container">
        <button (click)="onAssignAllClick()" color="accent" mat-raised-button>
            Assign all students
        </button>
        <button (click)="onAssignSubmittedClick()" color="accent" mat-raised-button>
            Assign students who submitted
        </button>
        <button (click)="onEditClick()" color="accent" mat-raised-button>
            Add new
        </button>
    </div>
    <div *ngFor="let appointmentRow of appointmentRows" class="appointment-grid-row">
        <p class="appointment-grid-row-date">
            {{ appointmentRow.date }}
        </p>
        <ng-container *ngFor="let appointment of appointmentRow.appointmentModels">
            <div (click)="onAppointmentClick(appointment)"
                 *ngIf="appointment.isAvailable" class="appointment-grid-cell available mat-elevation-z8"
                 matRipple>
                <h3>{{ appointment.time }}</h3>
            </div>
            <div *ngIf="!appointment.isAvailable"
                 [ngClass]="appointment.isMine ? 'chosen' : ''"
                 class="appointment-grid-cell unavailable mat-elevation-z2">
                <h3>{{ appointment.time }}</h3>
            </div>
        </ng-container>
    </div>
</div>
