.login-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-recovery {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;

  a {
    color: currentColor;
  }
}

.login-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

mat-form-field {
  min-width: 300px;
}
