.submission-details-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.answer {
  min-width: 500px;
}

.submission-details-form-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 5px;
  }
}