<div class="user-list-container">
    <h1 class="user-list-title">Users</h1>
    <div class="user-list-table-container">
        <div *ngIf="isLoadingResults"
             class="user-list-loading-shade">
            <mat-spinner/>
        </div>

        <mat-table [dataSource]="dataSource" class="user-list-table mat-elevation-z8"
                   matSort matSortActive="fullName" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let user" mat-cell>{{ user.userId }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fullName">
                <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let user" mat-cell>{{ user.fullName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>Username</mat-header-cell>
                <mat-cell *matCellDef="let user" mat-cell>{{ user.username }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>Email</mat-header-cell>
                <mat-cell *matCellDef="let user" mat-cell>{{ user.email }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="roles">
                <mat-header-cell *matHeaderCellDef mat-header-cell>Roles</mat-header-cell>
                <mat-cell *matCellDef="let user" mat-cell>{{ user.roles }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     [routerLink]="[NavigationItems.userDetail.navigationUrl, row.userId]"
                     matRipple></mat-row>
        </mat-table>

        <mat-divider/>
        <mat-paginator [length]="resultsLength"
                       [pageSizeOptions]="pageSizeOptions"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="true"></mat-paginator>
    </div>
</div>
