.error-container {
  display: flex;
  justify-content: space-between;
}

.error-body {
  color: red;
}

.error-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-button-icon {
  color: maroon;
}