<div class="course-list-container">
    <div class="course-list-header">
        <h1 class="course-list-title">Courses</h1>
        <a *ngIf="isTeacher" [routerLink]="NavigationItems.courseCreate.navigationUrl" color="accent"
           mat-flat-button>
            <mat-icon>add</mat-icon>
            New Course
        </a>
    </div>
    <div *ngIf="isLoadingResults"
         class="course-list-loading-shade">
        <mat-spinner/>
    </div>
    <div class="course-cards-container">
        <mat-card *ngFor="let course of courses" class="course-card">
            <a [routerLink]="[NavigationItems.courseDetails.navigationUrl, course.courseId]">
                <img alt="{{ course.name }}" class="course-card-image" height="250" src="https://placehold.co/250x250"
                     width="250">
                <mat-card-header class="course-card-header">
                    <mat-card-title class="course-card-title">{{ course.name }}</mat-card-title>
                </mat-card-header>
            </a>
        </mat-card>
    </div>
</div>